<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="d:\temp\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Sentry3" />
  </extensions>

  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" name="LogFile" fileName="d:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

    <!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>

    <target xsi:type="Sentry" name="Sentry" dsn="https://b756b24c3b174631b769e89cf68964dd@sentry.io/1884249" environment="develop" timeout="00:00:10"/>

    <target xsi:type="Database"
            name="database"
            commandType="StoredProcedure"
            commandText="[dbo].[NLog_AddEntry_p]"
            connectionString="server=.;Database=MyApiLogDb;Integrated Security=true">
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@callsite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <logger name="*" minLevel="Error" writeTo="Sentry"/>
    <logger name="*" minLevel="Error" writeTo="Database"/>
  </rules>
</nlog>